/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* ul related styles */
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
 list-style: none;
 margin-right: 50px;  
}
nav a{
    text-decoration: none
    ;
    color: dark2;
}
.web-title{

  color: #181818;
  font-size: 45px;
  font-weight: 800;
    
}
/* Button ar color Bah common color */
.text-primary{
    color:#FD6E0A;
}
/* button background */
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}