*{
    margin: ;
}
.section-title{
   color:  #181818;
   text-align: center;
   font-size: 35px;
   font-weight: 700;

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
/* ul related styles */
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
 list-style: none;
 margin-right: 50px;  
}
nav a{
    text-decoration: none
    ;
    color: dark2;
}
.web-title{

  color: #181818;
  font-size: 45px;
  font-weight: 800;
    
}
/* Button ar color Bah common color */
.text-primary{
    color:#FD6E0A;
}
/* button background */
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* Header related styles */
.header{
    background-color:  #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}
/* banner class ja header ae modde ase */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* profile picture controls */
.banner .profile-pic{
width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;


}
.banner-description{

}
.banner-content{
    max-width: 500px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* about section */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px;;
}
/* about info container */
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about-info{
    text-align: center;
}
.about-title{
    margin-bottom: 0px;
}
#what-i-do-description{
    padding: 30px 150px;
}
/* What i do section */
.skalls-container{
    display: flex;
}